fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-community
langchain-text-splitters
faiss-cpu
pypdf
requests
numpy
pydantic
python-multipart
pytesseract
pdf2image
Pillow
gtts
edge-tts
opencv-python
moviepy
